.body{
    background-color: #E5D4FF;
}
.first{
    background-color:#D0A2F7;
}
.second{
    background-color: #E5D4FF;
}
.ekk{
     border:10px solid black;
     margine:none;
     padding:0px;
}
.AA{
    background-color:#F0B86E;
}
.BB{
    background-color: #ED7B7B;
}
.third{
    background-color: #DCBFFF;
}
.fourth{
    background-color: #D0A2F7;
}
.carousel-caption h5{
    font-weight: 10px;
    font-family: 'Caveat', cursive;
    color: black;
}
.carousel-indicators{
    color:black;
}
.fift{
    background-color: #cfa1f7;
}
.head{
    text-align: center;
}
.momos{
    background-color: #FFCD4B;
}
.mee
{
    background-color: #FF7676;
}
.kritika{
    background-color: #FF9209;
}